.flecha_arriba_ {
  position: absolute;
  margin-top: -23px;
  margin-left: 145px;
}

.flecha_abajo_ {
  position: absolute;
  margin-top: -23px;
  margin-left: 145px;
}

.flecha_arriba_des {
  position: absolute;
  margin-top: -40px;
  margin-left: 135px;
}

.flecha_abajo_des {
  position: absolute;
  margin-top: -40px;
  margin-left: 135px;
}


.container {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  padding-top: 50px;

  >:nth-child(1) {
    grid-column: 1 / 2;
  }

  >:nth-child(2) {
    grid-column: 2 / 5;
  }
}

.select {
  align-items: center;
  background-color: #282c34;
  width: 175px;
  position: relative;
  position: fixed;
  height: 100vh;
  padding-top: 80px;
  z-index: 2;
  font-family: "Lato", sans-serif;
}





.filter_orden {
  display: inline-grid;
  padding-bottom: 1rem;
}

.filter_select {
  margin-right: 0.5rem;
  justify-content: center;
  margin-bottom: 1rem;
}

@media (min-width: 458px) {


  .filter_select {
    font-family: "Lato", sans-serif;
    appearance: none;
    width: 150px;
    height: 30px;
    border-radius: 5px;
    cursor: pointer;
  }

  .filter_orden {
    display: table-row;
    padding-bottom: 1rem;
  }
}

.ordenar {
  text-align: center;
  padding: 2rem;
  font-size: 1rem;
  background-color: cyan;
}

/* .search {
  background-color: #282c34;
} */
/* .select-css {
  background-color: #e4e7ec;
} */
.select-css:focus {
  outline: none;
  box-shadow: none;
}