.cards_breads {
  grid-gap: 10px;
  min-width: 90%;
  margin: 0 auto;
}
@media (min-width: 768px) {
  .cards_breads {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-gap: 10px;
    width: 4rem;
    min-width: 90%;
  }
}
.select {
  background-color: #282c34;
  align-items: center;
  padding-bottom: 2rem;
}
.filter_orden {
  display: inline-grid;
  padding-bottom: 1rem;
}
.filter_select {
  margin-right: 0.5rem;
  justify-content: center;
  margin-bottom: 1rem;
}
@media (min-width: 458px) {
  .select {
    display: flex;
    justify-content: space-between;

    background-color: #282c34;

    padding: 0 2rem;
    align-items: center;
  }
  .filter_select {
    margin-right: 1rem;
  }
  .filter_orden {
    display: table-row;
    padding-bottom: 1rem;
  }
}
.ordenar {
  text-align: center;
  padding: 2rem;
  font-size: 1rem;
  background-color: cyan;
}
.search {
  background-color: #282c34;
}
.select-css {
  margin: 2rem;
  background-color: #e4e7ec;
}
.select-css:focus {
  outline: none;
  box-shadow: none;
}
