.form_videogame {
  background-color: rgb(240, 240, 228);
  margin: 75px auto;
  width: 70%;
  padding: 3rem;
}

.form_videogame::-webkit-scrollbar {
  width: 8px;
}

.form_videogame::-webkit-scrollbar-thumb {

  background-color: red;
  border-radius: 10px;
}

.data_input {
  display: block;
  padding-bottom: 2rem;
}

.add_imagen {
  padding-top: 2rem;
}

.button2 {
  margin-top: 2rem;
}

.body {
  background-color: black;
}

.datos {
  padding-bottom: 1rem;
}

label {
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
    "Lucida Sans", Arial, sans-serif;
  font-size: 1rem;
  padding-right: 0.2rem;
  font-weight: bold;
}

button {
  cursor: pointer;
}

button:hover {
  color: red;
}

.imagen {
  display: flex;
  justify-content: center;
}
.popUp{
  top: 0;
  position: fixed;
  left: 0;
  width: 100vw;
  z-index: 3;
  height: 100vh;
  background-color: rgba(0, 0, 0, .60);
  -webkit-backdrop-filter: blur(4px);
  backdrop-filter: blur(4px);
}
.popUpHijo{
  display: flex;
 
  background-color: rgba(51, 51, 243, 0.986);
  flex-direction: column;
 border-radius: 5px;
  width: 200px;
  height: 180px;
  margin: 200px auto;
  box-shadow: 2px 2px 2px rgba(0, 0, 0, .30);
  
}
.span{
  color: #282c34;
  font-size: 16px;
  text-transform: lowercase;
  display: flex;
   align-items: center;
  text-align: center;
}
.cerraPopUp{
  width: 20px;
  height: 20px;
  background-color: red;
  cursor: pointer;
  border-radius: 50%;
  position: relative;
  padding: 0px;
  margin-top: 5px;
  margin-left: 168px;
  margin-bottom: 20%;
}