.form_videogame {
  background-color: rgb(240, 240, 228);
  margin: 75px auto;
  width: 70%;
  padding: 3rem;
}

.form_videogame::-webkit-scrollbar {
  width: 8px;
}

.form_videogame::-webkit-scrollbar-thumb {

  background-color: red;
  border-radius: 10px;
}

.data_input {
  display: block;
  padding-bottom: 2rem;
}

.add_imagen {
  padding-top: 2rem;
}

.button2 {
  margin-top: 2rem;
}

.body {
  background-color: black;
}

.datos {
  padding-bottom: 1rem;
}

label {
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
    "Lucida Sans", Arial, sans-serif;
  font-size: 1rem;
  padding-right: 0.2rem;
  font-weight: bold;
}

button {
  cursor: pointer;
}

button:hover {
  color: red;
}

.imagen {
  display: flex;
  justify-content: center;
}