.cards_details {

  width: 50%;
  height: 400px;
  -webkit-box-shadow: 0px 11px 15px 2px rgba(0, 0, 0, 0.63);
  -moz-box-shadow: 0px 11px 15px 2px rgba(0, 0, 0, 0.63);
  box-shadow: 0px 11px 15px 2px rgba(0, 0, 0, 0.63);
  margin: 170px auto;
  overflow-y: auto;
  padding-bottom: 3rem;
}



.cards_details::-webkit-scrollbar{
  width: 5px;
  
 
  
}
.cards_details::-webkit-scrollbar-thumb{
  background-color: #282c34;
  border-radius: 3px;
}
p {
  font-size: 1rem;
  color: #f416d4;
  
}

span {
  color: red;
  font-weight: 700;
  text-transform: uppercase;
}

.description1 {
  font-size: 0.8rem;
  color: rgba(0, 0, 0, 0.63);
  text-align: justify;
  padding: 0 5px;
}

h2 {
  display: flex;
  color: rgba(0, 0, 0, 0.63);
  align-items: baseline;
  height: 25px;
  margin-left: 10px;
  margin-right: 10px;
}

.image_Detail {
  width: 320px;
  height: 160px;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}