.container {
  background-color: black;
  max-width: 120rem;
  margin: 0 auto;
}

h1 {
  font-size: 1rem;
}
h3 {
  font-size: 1rem;
}
h4 {
  font-size: 1rem;
  color: rgb(207, 98, 202);
}
@media (min-width: 458px) {
  h1,
  h2,
  h3,
  h4 {
    font-size: 1.3rem;
  }
}
/*------------BUSCADOR-----------------------*/
.input_Search {
  background-color: #14eb98;
  padding: 0.8rem;
  border-radius: 2rem;
}
.button_search {
  font-size: 1.6rem;
  border-radius: 0.5rem;
  border: hidden;
  color: #fb61cd;
  margin-left: 0.5rem;
}
.cargar {
  margin-top: 1rem;
  background-color: #282c34;
  color: #eff2f9;
  border-radius: 0.3rem;
  border: hidden;
  cursor: pointer;
  padding: 0.5rem;
}
.button_search:hover {
  background-color: rgba(0, 255, 255, 0.349);
  border-radius: 0.3rem;
  border: hidden;
  cursor: pointer;
}
.cards {
  background-color: rgba(218, 224, 199, 0.849);
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: column;
  border-radius: 0.2rem;
  padding-bottom: 0.8rem;
}
.image {
  border-radius: 0.5rem;
  width: 300px;
  height: 250px;
}

.App {
  text-align: center;
}
.d-inline-block,
.align-top {
  padding-left: 2rem;
}
.App-logo {
  height: 40vmin;
  pointer-events: none;
}
.navBar {
  background-color: #282c34;
  display: flex;
  justify-content: space-between;
}
.nav_paginado {
  display: flex;
  justify-content: space-between;
  margin: 0 1rem;
}
.paginado {
  background-color: #eff2f9;
  display: flex;
  justify-content: space-around;
  border: 1px solid #ffffff;
  border-radius: 1rem;
  margin-right: 1rem;
}
.search_input {
  border: none;
  border-radius: 0.5rem;
}
.search_input:focus {
  outline: none;
  box-shadow: none;
}
@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}
.navBar {
  display: flex;
}
.App-header {
  background-color: #282c34;
  align-items: center;
  margin: 0 auto;
}
@media (min-width: 768px) {
  .App-header {
    display: flex;
    background-color: #282c34;
    align-items: center;
    justify-content: space-between;
    font-size: calc(10px + 2vmin);
  }
  h1 {
    font-size: 1rem;
  }
  h3 {
    font-size: 1.5rem;
  }
  h4 {
    font-size: 1rem;
    color: rgb(7, 1, 36);
  }
}

.App-link {
  font-size: 1.5rem;
  padding-right: 1rem;
  text-decoration: none;
  color: #fb61fb;
  cursor: pointer;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
